div .row {
  display: flex;
  flex-wrap: nowrap;
}

div .card-header {
  display: flex;
  justify-content: space-between;
}
.car-container {
  margin: 0 auto;
  width: 540px;
}

.text-head {
}

.cars-item {
  text-transform: uppercase;
}

#color-text {
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
